{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_safe "<i class='icon-home'></i>Home" "index" %}
{% endblock %}

{% block content %}
{% render_breadcrumbs %}
<h1>Timesheets</h1>
<div class="container">
  <div class="list-group">
{% for person in people %}
<a class="list-group-item list-group-item-action" href="{% url 'person' person.id %}">{{person.username}}</a>
{% endfor %}
  </div>
</div>
{% endblock %}
