<h1> Times for {{person}} on {{day}} </h1>
<ul>
<table border=1>
<tr><th>Hours</th><th>Work Type</th></tr>
{% for intr in intervals %}
<tr><td>{{intr.work}}</td><td>{{intr.hours}}</td></tr>
{% endfor %}
<tr><th>Total</th><td>{{day.total}}</td></tr>
</table>
</ul>
