{% extends "base.html" %}
{% block content %}
<h1> Times for <a href="{% url 'person' person.id %}">{{person}}</a> on {{day.day}} </h1>
{% load hours %}

<form action="{% url 'personday' person.id day.id %}" method="POST">
{% csrf_token %}
<table class="table table-hover">
{{form.as_table}}
</table>
</div>
    <input type="submit" value="Save" class="btn btn-primary">
</form>
{% endblock %}
